.main {
    @media screen and (min-width: #{$tabletM}) {
        padding-top: 96px;
    }
    @media screen and (max-width: #{$tabletM}) {
        padding-top: 54px;
    }
}

.breadcrumbs {

    &__content  {
        display: flex;
        align-items: center;
        gap: 1rem ;
        padding: 2rem 0;

        @media screen and (min-width: #{$tabletL}) {
            padding: 2rem 0;
        }
        @media screen and (max-width: #{$tabletL}) {
            padding: 1rem 0;
        }
    }

    &__item {
        font-weight: 600;
        line-height: 1.22;
        color: #B5B5B5;

        &._active {
            color: $main-color;
        }

        &:not(:first-child) {
            position: relative;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50px;
                background: #B5B5B5;
                margin-right: 1rem;
            }
        }
    }
}

.promo {

    &__content {
        @media screen and (min-width: #{$tabletM}) {
            padding: 2rem 0 0 0;
        }

        @media screen and (max-width: #{$tabletM}) {
            padding: 20px 0 0 0;
        }
    }

    &__title {
        @media screen and (min-width: #{$tabletL}) {
            margin-bottom: 2rem;
        }
        @media screen and (max-width: #{$tabletL}) {
            margin-bottom: 1rem;
        }
        @media screen and (max-width: #{$tabletM}) {
            margin-bottom: 45px;
        }
    }
    
    &__pictures {
        position: relative;
        height: 194px;
        background: $link-color;
        border-radius: 20px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            border-radius: inherit;
            width: 100%;
            height: 100%;
            background: rgba(50, 50, 255);
            opacity: .3;
            z-index: 17;
            transition: .3s;
        }

        &._all {
            &::before {
                opacity: 0;
            }
        }

        &._lazy {
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                z-index: 18;
                background-image: linear-gradient(100deg, $main-color 8%, $link-color 18%, $main-color 33%);
                background-size: 200% 100%;
                animation: 2s shine linear infinite;
            }

            @keyframes shine {
                100% {
                    background-position-x: -200%;
                }
            }
        }
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        @include loader(30px);

        $countZi: 0;

        @while $countZi < 17 {
            z-index: #{$countZi};

            $countZi: $countZi + 1;
        }

        &._active {
            z-index: 17;
        }
    }

    &__filter {
        @media screen and (min-width: #{$tabletL}) {
            margin-top: 2rem;
        }
        @media screen and (max-width: #{$tabletL}) {
            margin-top: 1rem;

            margin-right: -1rem;
            width: calc(100vw - 1rem);

            .ui-toggle__chain {
                flex-wrap: nowrap;
                overflow-x: auto;
            }
            .ui-checkbox_chain {
                white-space: nowrap;
            }
        }
    }
}

.achievements {

    @media screen and (min-width: #{$tabletM}) {
        padding-top: 4rem;
    }

    @media screen and (max-width: #{$tabletM}) {
        padding-top: 2rem;
    }

    &__content {
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__count {
        font-weight: 500;
        font-size: 12px;
        color: #323232;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;

        @media screen and (min-width: #{$tabletL}) {
            padding: 2rem 0;
        }
        @media screen and (max-width: #{$tabletL}) {
            padding: 1rem 0;
        }
        @media screen and (max-width: #{$tabletM}) {
            grid-template-columns: 1fr;
            position: relative;
        }
    }

    &__item {
        @media screen and (max-width: #{$tabletM}) {
            position: sticky;

            &:first-child {
                top: 5rem;
            }
            &:nth-child(2) {
                top: 6rem;
            }
            &:nth-child(3) {
                top: 7rem;
            }
            &:nth-child(4) {
                top: 8rem;
            }
            &:nth-child(5) {
                top: 9rem;
            }
            &:nth-child(6) {
                top: 10rem;
            }
            &:nth-child(7) {
                top: 11rem;
            }
            &:nth-child(8) {
                top: 12rem;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
    }

    &__btn {
        @media screen and (max-width: #{$tabletL}) {
            width: 100%;
        }
    }
}

.achievementsItem {

    &__wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border-radius: 20px;
    }

    &__top {}

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;

        img {
            width: 100%;
            border-radius: inherit;
        }

        @media screen and (min-width: #{$desktop}) {
            img {
                @include loader(192px);
            }
        }
        @media screen and (max-width: #{$desktop}) {
            position: relative;
            padding-top: 56.25%;
            overflow: hidden;

            img {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                @include loader(100%)
            }
        }
    }

    &__main {
        flex-grow: 1;
        padding: 1rem;
    }

    &__heading {
        font-weight: 600;
        margin-bottom: 8px;

        @media screen and (min-width: #{$tabletL}) {
            font-size: 20px;
        }
        @media screen and (max-width: #{$tabletL}) {
            font-size: 1rem;
        }
    }

    &__txt {
        font-size: 14px;
        line-height: 1.2;
        margin-top: 8px;
    }

    &__footer {
        display: flex;

        @media screen and (min-width: #{$desktop}) {
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem 1rem;

        }
        @media screen and (max-width: #{$desktop}) {
            flex-direction: column;
            align-items: flex-start;
            gap: .5rem;
            padding: 14px 1rem 1rem;
        }
    }

    &__btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.22;
        color: #ffffff;
        background: $main-color;
        border-radius: 100px;
        padding: .5rem 1rem;
    }
}

.quiz {
    overflow: hidden;

    @media screen and (min-width: #{$tabletL}) {
        padding-top: 8rem;
    }
    @media screen and (max-width: #{$tabletL}) {
        padding-top: 4rem;
    }

    &__content {
        position: relative;
        background: $main-color;
        border-radius: 20px;

        @media screen and (min-width: #{$tabletL}) {
            padding: 20px 1rem;
        }
        
        @media screen and (max-width: #{$tabletM}) {

        }
    }

    &__bg {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 36px);
        @include loader(100px);

        @media screen and (max-width: #{$tabletM}) {
            transform: none;
            top: 6.5rem;
        }
    }

    &__left {
        padding-top: 29px;
        padding-bottom: 28px;
        padding-left: 26px;

        @media screen and (max-width: #{$tabletL}) {
            padding-bottom: 33px;
            padding-left: 33px;
        }
        @media screen and (max-width: #{$tabletM}) {
            padding-bottom: 267px;
            padding-top: 28px;
            padding-left: 23px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 2rem;
        color: #ffffff;
        margin-bottom: 80px;

        >span {
            text-transform: uppercase;
        }

        @media screen and (max-width: #{$tabletL}) {
            margin-bottom: 71px;
        }
        @media screen and (max-width: #{$tabletM}) {
            font-size: 1.5rem;
            margin-bottom: 18px;
        }
    }

    &__btn {
        font-size: 18px;
    }

    &__right {}

    &__img {
        position: absolute;
        top: 0;

        @media screen and (min-width: #{$tabletL}) {
            right: 100px;
            width: 229px;
            @include loader(250px);

        }
        @media screen and (max-width: #{$tabletL}) {
            right: 24px;
            top: 14px;
            width: 201px;
            @include loader(200px);
        }
        @media screen and (max-width: #{$tabletM}) {
            width: 229px;
            top: 32%;
            right: 0;
            @include loader(150px);
        }
    }
}

.video {

    @media screen and (min-width: #{$tabletL}) {
        padding: 8rem 0;
    }

    @media screen and (max-width: #{$tabletL}) {
      padding: 4rem 0;
    }

    &__content{
        position: relative;
        display: grid;
        gap: 20px;

        @media screen and (min-width: #{$desktop}) {
            grid-template-columns: 380px 1fr;
        }
        @media screen and (max-width: #{$desktop}) {
            grid-template-columns: 317px 1fr;
        }
        @media screen and (max-width: #{$tabletL}) {
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }

    &__left {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background: $secondary-color;
        border-radius: 20px;
        overflow: hidden;

        @media screen and (min-width: #{$tabletL}) {
            padding: 2rem 1.5rem;
        }
        @media screen and (max-width: #{$tabletL}) {
            border-radius: 1rem;
            padding: 25px 20px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.22;
        color: #ffffff;

        @media screen and (max-width: #{$desktop}) {
            font-size: 28px;
        }
        @media screen and (max-width: #{$tabletL}) {
            font-size: 1.5rem;
            max-width: 276px;
            margin-bottom: 72px;
        }
        @media screen and (max-width: #{$tabletM}) {
          max-width: 208px;
            margin-bottom: 44px;
        }
    }
    
    &__btn {
        font-size: 12px;
        line-height: 1.167;
        height: 33px;

        @media screen and (min-width: #{$tabletM}) {
          padding: .5rem 1rem;
        }
        @media screen and (max-width: #{$tabletM}) {
          padding: 7px 14px;
        }
    }

    &__img {
        position: absolute;
        pointer-events: none;
        @include loader(150px);

        @media screen and (min-width: #{$tabletL}) {
            right: -7rem;
            top: 50%;
            width: 100%;
        }
        @media screen and (max-width: #{$tabletL}) {
            width: 320px;
            top: 1rem;
            right: -3rem;
        }
        @media screen and (max-width: #{$tabletM}) {
            width: 280px;
            top: 2rem;
            right: -6rem;
        }
    }

    &__right {
        position: relative;
        padding-top: 56.25%;
        background: #ffffff;
        border-radius: 20px;
        overflow: hidden;

        @media screen and (max-width: #{$tabletL}) {
            border-radius: 1rem;
        }

        &._lazy {
            &::before {
                content: url(/public/storage/img/icon/play-circle.svg);
                display: inline-block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        >iframe {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: inherit;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

}