@use 'sass:math';
@use "vars/colors";
@use "vars/variables";
@use "base/mixin";

@include mixin.font('Montserrat', 'Montserrat-Regular', 400, 'normal');
@include mixin.font('Montserrat', 'Montserrat-Medium', 500, 'normal');
@include mixin.font('Montserrat', 'Montserrat-SemiBold', 600, 'normal');
@include mixin.font('Montserrat', 'Montserrat-Bold', 700, 'normal');


body {
  font-family: variables.$fontFamily;
  width: 100%;
  min-height: 100%;
  color: colors.$txt-color;
  line-height: 1;
  background: colors.$fon-color;

  &._locked {
      position: fixed;
      left: 0;
      overflow: hidden;
    }
  &._fixPadding {
      @media screen and (min-width: #{variables.$desktop}) {
        padding-right: 17px;
      }
    }
}

.container, [class*="__container"] {
  width: 100%;

  @if (variables.$containerWidth>0) {
    max-width: variables.$containerWidth + px;
    margin: 0 auto;
  }
  @if (variables.$containerPadding>0) {
    padding: 0 math.div(variables.$containerPadding, 2) + px;
  }
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}