.footer {
    color: #ffffff;
    background: $secondary-color;
    padding: 200px 0 180px;

    &__content {
        display: grid;
        justify-items: center;
        font-weight: 500;
        line-height: 1.19;
    }
}
